body {
background: #393939;
}

.knopka1 {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
  font-family: sans-serif;
}

.knopka1::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.knopka1:hover::after { 
  width: 100%; 
  left: 0; 
}

.knopka2 {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: absolute;
  margin-left: 240px;
  margin-top: 20px;
  font-family: sans-serif;
}

.knopka2::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.knopka2:hover::after { 
  width: 100%; 
  left: 0; 
}

.knopka3 {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: absolute;
  margin-left: 460px;
  margin-top: 20px;
  font-family: sans-serif;
}

.knopka3::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.knopka3:hover::after { 
  width: 100%; 
  left: 0; 
}

.knopka4 {
  color: #929292;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: absolute;
  margin-left: 760px;
  margin-top: 20px;
  font-family: sans-serif;
}

.knopka5 {
position: absolute;
margin-left: 70px;
margin-top: 130px;
font-size: 28px;
font-family: Trebuchet MS, sans-serif;
color: white;
text-decoration: none;
}

.text1 {
font-size: 25px;
font-family: Trebuchet MS, sans-serif;
margin-left: 70px;
margin-top: 230px;
position: absolute;
color: white;
}

.text2 {
position: absolute;
margin-left: 70px;
margin-top: 320px;
font-size: 20px;
font-family: Arial;
color: #929292;
}

.con1 {
position: absolute;
margin-left: 660px;
margin-top: 230px;
}

.con2 {
position: absolute;
margin-left: 660px;
margin-top: 490px;
}

.text4 {
font-size: 25px;
font-family: Trebuchet MS, sans-serif;
margin-left: 70px;
margin-top: 850px;
position: absolute;
color: white;
}

.text3 {
position: absolute;
margin-left: 70px;
margin-top: 780px;
font-size: 20px;
font-family: Arial;
color: #929292;
}

.text5 {
position: absolute;
margin-left: 570px;
margin-top: 780px;
font-size: 20px;
font-family: Arial;
color: #929292;
}

.text6 {
position: absolute;
margin-left: 570px;
margin-top: 850px;
font-size: 20px;
font-family: Arial;
color: white;
}

.text7 {
position: absolute;
margin-left: 570px;
margin-top: 880px;
font-size: 20px;
font-family: Arial;
color: #9A9A9A;
}

.text8 {
position: absolute;
margin-left: 880px;
margin-top: 825px;
font-size: 20px;
font-family: Arial;
color: white;
}

.text9 {
position: absolute;
margin-left: 880px;
margin-top: 880px;
font-size: 20px;
font-family: Arial;
color: #9A9A9A;
}

.text10 {
position: absolute;
margin-left: 570px;
margin-top: 930px;
font-size: 20px;
font-family: Arial;
color: white;
}

.text11 {
position: absolute;
margin-left: 570px;
margin-top: 960px;
font-size: 20px;
font-family: Arial;
color: #9A9A9A;
}

.text12 {
position: absolute;
margin-left: 880px;
margin-top: 930px;
font-size: 20px;
font-family: Arial;
color: white;
}

.text13 {
position: absolute;
margin-left: 880px;
margin-top: 960px;
font-size: 20px;
font-family: Arial;
color: #9A9A9A;
}

.glava {
margin-top: 1190px;
margin-left: 60px;
position: absolute;
}

.text14 {
margin-left: 480px;
margin-top: 1240;
position: absolute;
font-size: 20px;
font-family: Arial;
color: #9A9A9A;
}

.text15 {
margin-top: 1520px;
position: absolute;
margin-left: 100px;
font-size: 50px;
font-family: Arial;
color: white;
}

.text16 {
font-size: 20px;
font-family: Arial;
color: #9A9A9A;
margin-top: 1580px;
position: absolute;
margin-left: 63px;
}

.text17 {
margin-top: 1520px;
position: absolute;
margin-left: 373px;
font-size: 50px;
font-family: Arial;
color: white;
}

.text18 {
font-size: 20px;
font-family: Arial;
color: #9A9A9A;
margin-top: 1580px;
position: absolute;
margin-left: 333px;
}

.text19 {
margin-top: 1520px;
position: absolute;
margin-left: 673px;
font-size: 50px;
font-family: Arial;
color: white;
}

.text20 {
font-size: 20px;
font-family: Arial;
color: #9A9A9A;
margin-top: 1580px;
position: absolute;
margin-left: 666px;
}

.text21 {
margin-top: 1520px;
position: absolute;
margin-left: 882px;
font-size: 50px;
font-family: Arial;
color: white;
}

.text22 {
font-size: 20px;
font-family: Arial;
color: #9A9A9A;
margin-top: 1580px;
position: absolute;
margin-left: 878px;
}


.text23 {
font-size: 35px;
font-family: Trebuchet MS, sans-serif;
color: white;
margin-top: 1750px;
position: absolute;
margin-left: 380px;
}

.text24 {
font-size: 20px;
font-family: arial;
color: #9A9A9A;
margin-top: 1810px;
position: absolute;
margin-left: 10px;
}

.text25 {
font-size: 35px;
font-family: Trebuchet MS, sans-serif;
color: white;
margin-top: 1990px;
position: absolute;
margin-left: 60px;
}

.text26 {
font-size: 20px;
font-family: arial;
color: #9A9A9A;
margin-top: 2110px;
position: absolute;
margin-left: 60px;
}

.consul4 {
position: absolute;
margin-left: 660px;
margin-top: 2050px;
}

.faesbyk {
position: absolute;
margin-top: 2490px;
margin-left: 60px;
}


.twitter {
position: absolute;
margin-top: 2484px;
margin-left: 155px;
}

.insta {
position: absolute;
margin-top: 2490px;
margin-left: 112px;
}

.text27 {
margin-left: 60px;
margin-top: 2410px;
font-size: 25px;
font-family: Trebuchet MS, sans-serif;
color: white;
position: absolute;
}

.text28 {
font-family: arial;
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #929292;
margin-top: 2540px;
margin-left: 60px;
text-align: left;
position: absolute;
}